.other-products
    height: 65vh
    display: grid
    grid-template-rows: 20% 80%
    .title-container
        display: flex
        align-items: flex-end
        justify-content: center
        .title
            font-size: 2rem
            font-weight: 800
    .body
        display: grid
        grid-template-columns: repeat(4, 240px)
        gap: 3%
        justify-content: center
        align-items: center


@media only screen and (max-width: 1200px)
    .other-products
        grid-template-rows: 10% 90%
        height: 120vh
        .title-container
            align-items: center

        .body
            // grid-template-columns: repeat(2, 20%)
            grid-template-columns: repeat(2, 240px)

            .product-card
                height: 85%
                grid-template-rows: 80% 5% 15%


@media only screen and (max-width: 1000px)
    .other-products
        grid-template-rows: 5% 93%
        height: 300vh
        .body
            grid-template-columns: repeat(1, 60%)
            .product-card
                height: 95%
                grid-template-rows: 80% 5% 15%
